@font-face {
  font-family: "iconfont"; /* Project id 3960086 */
  src: url('./static/fonts/iconfont.woff2?t=1679052190641') format('woff2'),
       url('./static/fonts/iconfont.woff?t=1679052190641') format('woff'),
       url('./static/fonts/iconfont.ttf?t=1679052190641') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e648";
}

.icon-dingwei:before {
  content: "\e649";
}

.icon-luxiang:before {
  content: "\e64a";
}

.icon-huiyuan:before {
  content: "\e64b";
}

.icon-bofang:before {
  content: "\e64c";
}

.icon-dianying:before {
  content: "\e64d";
}

.icon-liwu:before {
  content: "\e64e";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-wode:before {
  content: "\e650";
}

.icon-fenxiang:before {
  content: "\e651";
}

.icon-zhaoxiang:before {
  content: "\e652";
}

.icon-xinxi:before {
  content: "\e653";
}

.icon-zanting:before {
  content: "\e654";
}

.icon-changge:before {
  content: "\e655";
}

.icon-tongzhi:before {
  content: "\e656";
}

.icon-remen:before {
  content: "\e657";
}

.icon-youxi:before {
  content: "\e658";
}

.icon-zhuanfa:before {
  content: "\e659";
}

.icon-rili:before {
  content: "\e65a";
}

.icon-zhaopian:before {
  content: "\e65b";
}

